name: Crowdout request translations in PR

on:
  issue_comment:
    types: [created]

jobs:
  crowdout-pr-request:
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@v1.1.0
        id: trigger
        with:
          trigger: '@crowdout/request'
          reaction: '+1'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      - uses: actions/checkout@v3
        if: steps.trigger.outputs.triggered == 'true'

      - name: Checkout Pull Request
        if: ${{ github.event_name == 'issue_comment' && steps.trigger.outputs.triggered == 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr checkout ${{ github.event.issue.number }}
          echo "ISSUE_BRANCH=$(git branch --show-current)" >> $GITHUB_ENV

      - name: Trigger fallbacks
        if: steps.trigger.outputs.triggered == 'true'
        id: trigger_fallbacks
        env:
          CMS_API_TOKEN: ${{ secrets.CMS_API_TOKEN }}
          CMS_PATH: ${{ secrets.CMS_PATH }}
          BRANCH: ${{ github.head_ref || env.ISSUE_BRANCH }}
          BASE_BRANCH: ${{ github.base_ref || 'master'}}
          CROWDOUT_OPERATION: "Trigger fallbacks"
        run: |
          node ./scripts/crowdout/crowdout-operations.mjs

      - name: Send Slack message
        id: slack_message
        if: steps.trigger.outputs.triggered == 'true'
        continue-on-error: true
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
          MESSAGE: ${{ steps.trigger_fallbacks.outputs.translation_message }}
        run: |
          curl -sS -X POST "https://slack.com/api/chat.postMessage" \
            -H "Authorization: Bearer $SLACK_BOT_TOKEN" \
            -H "Content-Type: application/json; charset=utf-8" \
            --data "{\"channel\": \"$SLACK_CHANNEL_ID\", \"text\": $(printf '%s' "$MESSAGE" | jq -Rs .), \"unfurl_links\": false, \"unfurl_media\": false}"

      - name: Comment PR with translation links
        if: steps.trigger.outputs.triggered == 'true' && steps.slack_message.outcome == 'failure'
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Something went wrong when posting slack message, Copy the below message and paste it in [Translations channel](${{ secrets.SLACK_CHANNEL_ID }}) manually:
            
            ```
            ${{ steps.trigger_fallbacks.outputs.translation_message }}
            ```


