name: Crowdout request translations in PR

on:
  issue_comment:
    types: [created]

jobs:
  crowdout-pr-request:
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@v1.1.0
        id: trigger
        with:
          trigger: '@crowdout/request'
          reaction: '+1'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      - uses: actions/checkout@v3
        if: steps.trigger.outputs.triggered == 'true'

      - name: Load Crowdout credentials
        id: creds-crowdout
        uses: ./.github/actions/credentials/crowdout
        with:
          service-account-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Checkout Pull Request
        if: ${{ github.event_name == 'issue_comment' && steps.trigger.outputs.triggered == 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr checkout ${{ github.event.issue.number }}
          echo "ISSUE_BRANCH=$(git branch --show-current)" >> $GITHUB_ENV

      - name: Get comment author
        if: ${{ github.event_name == 'issue_comment' && steps.trigger.outputs.triggered == 'true'}}
        run: |
          echo "COMMENT_AUTHOR=${{ github.event.comment.user.login }}" >> $GITHUB_ENV

      - name: Get pull request info
        id: get_pr_info
        run: |
          PR_NUMBER=$(echo "${{ github.event.issue.number }}")
          PR_INFO=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/${PR_NUMBER}")
          PR_BASE_BRANCH=$(echo "$PR_INFO" | jq -r .base.ref)
          PR_TITLE=$(echo "$PR_INFO" | jq -r .title)
          echo "BASE_BRANCH=$PR_BASE_BRANCH" >> $GITHUB_ENV
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_ENV
          echo "PR_TITLE=$PR_TITLE" >> $GITHUB_ENV

      - name: Trigger fallbacks
        if: steps.trigger.outputs.triggered == 'true'
        id: trigger_fallbacks
        env:
          CMS_API_TOKEN: ${{ steps.creds-crowdout.outputs.CMS_API_TOKEN }}
          CMS_PATH: ${{ steps.creds-crowdout.outputs.CMS_PATH }}
          BRANCH: ${{ github.head_ref || env.ISSUE_BRANCH }}
          BASE_BRANCH: ${{ env.BASE_BRANCH }}
          CROWDOUT_OPERATION: "Trigger fallbacks"
          AUTHOR_GH: ${{ env.COMMENT_AUTHOR }}
          SLACK_USER_MAP_JSON: ${{ steps.creds-crowdout.outputs.SLACK_USER_MAP_JSON }}
          PR_NUMBER: ${{ env.PR_NUMBER }}
          PR_TITLE: ${{ env.PR_TITLE }}
          REPO_FULL_NAME: ${{ github.repository }}
        run: |
          node ./scripts/crowdout/crowdout-operations.mjs

      - name: Send Slack message
        id: slack_message
        if: steps.trigger.outputs.triggered == 'true'
        continue-on-error: true
        env:
          CROWDOUT_SLACK_TOKEN: ${{ steps.creds-crowdout.outputs.CROWDOUT_SLACK_TOKEN }}
          TRANSLATIONS_SLACK_CHANNEL_ID: ${{ steps.creds-crowdout.outputs.TRANSLATIONS_SLACK_CHANNEL_ID }}
          MESSAGE: ${{ steps.trigger_fallbacks.outputs.translation_message }}
        run: |
          curl -sS -X POST "https://slack.com/api/chat.postMessage" \
            -H "Authorization: Bearer $CROWDOUT_SLACK_TOKEN" \
            -H "Content-Type: application/json; charset=utf-8" \
            --data "{\"channel\": \"$TRANSLATIONS_SLACK_CHANNEL_ID\", \"text\": $(printf '%s' "$MESSAGE" | jq -Rs .), \"unfurl_links\": false, \"unfurl_media\": false}"

      - name: Comment PR with translation links (slack message success)
        if: ${{ success() }}
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Translations have been requested in the [Translations channel](https://bridebook.slack.com/archives/${{ secrets.TRANSLATIONS_SLACK_CHANNEL_ID }})
            
            Please remember to provide context for the translators in the request message thread!

      - name: Comment PR with translation links (slack message failure)
        if: ${{ failure() && steps.trigger_fallbacks.outputs.translation_message }}
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Something went wrong when posting slack message, Copy the below message and paste it in [Translations channel](https://bridebook.slack.com/archives/${{ secrets.TRANSLATIONS_SLACK_CHANNEL_ID }}) manually:
            
            ```
            ${{ steps.trigger_fallbacks.outputs.translation_message }}
            ```
            
            Please remember to provide context for the translators in the request message thread!
            
            [Check action run logs](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

      - name: Comment PR - general failure
        if: ${{ failure() && !steps.trigger_fallbacks.outputs.translation_message }}
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Something went wrong. Please check [action run logs](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) for more details.

